<a href="https://colab.research.google.com/github/yajima-yasutoshi/DataMinig/blob/main/20231011/%E5%9F%BA%E7%A4%8E%E9%9B%86%E8%A8%881.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# データマイニング第3回（2023/10/11）

#本日の講義の目的


*   データ分析の流れの理解
*   データの前処理方法の理解
  * データのアップロード
  * データの理解
  * 前処理

# 本日の講義の資料

本日の資料の保管場所

https://github.com/yajima-yasutoshi/DataMinig/tree/main/20231011

#データ分析の流れ

データ分析の基本的なステップは以下の通り。
1. 目的設定
1. データ収集
1. **データ前処理**
1. **データ探索**
1. **モデル構築**
1. レポート

この講義では、3. から 5. の部分の知識や技術を身に着けることになる。

#準備
データ分析に必要なPythonライブラリー（モジュール）のインストールと読み込みを施します。


*   numpy：数値計算
*   pandas：主にデータ加工
*   matplotlib：グラフを作成
*   japanize_matplotlib：日本語を表示
*   seaborn：グラフ作成

In [ ]:
# グラフ等で日本語を表示するために必要な操作
!pip install japanize-matplotlib

モジュールを使うための命令文

モジュール名が長い場合、以下のように  「as ○○」とすることで短縮できる。
短縮名は自由に変更が可能。

```
import モジュール名 as 短縮名
```

In [ ]:
# データ分析で必要となるモジュールの読み込み
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import japanize_matplotlib
import seaborn as sns

# データをファイルから読み込む

## データのファイルからの読み込み
パソコン上に作成したエクセルファイルを Google Drive にアップロードして、Pythonプログラムで読み込んでみる。

### エクセルファイルの作成  
PCでエクセルを開き、適当な数値を入力しファイルを保存する。（例えば、「商品金額.xlsx」とする）

> 例えば、以下の表をエクセルで作成し、適当なファイル名を付けてPCに保存する。
> **注意点：金額の入力は半角で行う必要がある**。
>
> 商品|金額
>  -- | --
> りんご | 300
> みかん | 200
> スイカ | 1000

### ファイルのGoogle Drive へのアップロード
1. Google Drive で適当なフォルダーを作成
2. PCのファイルをドラッグ＆ドロップでアップロードする。  
あるいは、Google Driveで右クリックでメニューを開き、ファイルのアップロードを選択してもアップロードが可能である。

### Googleドライブのマウント
1. Colabにて、左端のフォルダーのアイコンをクリックし、ファイルメニューを開く。

1. マウントアイコンをクリックし Google Driveをマウントする。

1. drive の中の「MyDrive」が Google Drive のマイドライブとなる。



### Colabで操作
1. Driveメニューで目的のファイルにマウスを合わせ、ファイル名の右にある縦3つの「・」部分をクリックして「パスをコピー」を選択する。

1. 以下のPythonコードの 2行目を先ほどコピーしたパスに変更する。ctrl+v でペーストされる。

### ファイルを読み込むための Pythonプログラム

エクセルファイルをPython環境に読み込むためにPandasの
read_excel()というメソッドを使う。

以下の例では、変数 data に格納される。
data という変数名は自由に変更が可能である。

In [ ]:
# 読み込むファイルを指定する
# ファイルパスは、シングルクオーテーションで囲む必要がある。

file_path = '/content/drive/MyDrive/データアップロード/商品金額.xlsx'

# ファイルのデータを data という変数に読み込む
# 上で「import pandas as pd」としたことを確認。
data = pd.read_excel(file_path)

In [ ]:
# 先頭部分のデータを表示
data.head()

変数 data に格納したデータは様々に計算処理が可能。
例えば、金額の**合計**を計算するためには以下のようにする。
列名は
```
'金額'
```
のようにシングルクートで囲む必要がある。

In [ ]:
data['金額'].sum()

平均であれば、以下のようにすればよい。

In [ ]:
data['金額'].mean()

## 【参考】CSVファイルの読み込み

csv ファイルを読み込むためには、read_csv を用いる。

> csvファイルはUTF-8で保存されている必要がある。うまく読み込めない場合は、エクセルで保存する際に「CSV UTF-8」とすればよい。

In [ ]:
data= pd.read_csv('/content/drive/MyDrive/データアップロード/商品金額.csv')

In [ ]:
# 先頭の数行を表示させる
data.head()

In [ ]:
# 先頭部分のデータを10行表示
data.head(10)

# 本日の講義で使うデータの説明

データの定義 (各列の説明)


列名 | 型 | 説明
--   | -- | --
顧客ID | 数値（整数） |
性別	 | カテゴリ型 |
年齢	 | 数値（整数）|
職業	 | カテゴリ型|
年収	 | 数値（整数）|
スマホの所有	| カテゴリ型 |
スマホ利用時間	| 数値（実数）| 1日の平均使用時間
Aの利用回数	|  数値（整数）|
Bの利用回数 |  数値（整数） |

## データのダウンロードとGoogle Driveへのアップロード

1. 以下のサイト  


> https://github.com/yajima-yasutoshi/DataMinig/tree/main/20231011
>
>にアクセスし、エクセルファイル（customer_data.xlsx）を各自のPCにダウンロードする。

2. Google Drive の適当なフォルダーへアップロードする。

# データの読み込み

In [ ]:
# 以下の行を各自の保管場所に合わせて変更する必要がある
file_path = '/content/drive/MyDrive/周南公立大学/講義/データマイニング/データ/customer_data.xlsx'
data= pd.read_excel(file_path)

# レコード（行）数と、項目（列）数を表示

In [ ]:
# data 変数のレコード数と項目数をタプルとして取得する
data.shape

In [ ]:
# レコード数のみが必要であれば以下のようにすればよい。
data.shape[0]

# データを表示
変数に読み込んデータの内容を表示させる

In [ ]:
# データの最初の10行を表示する
data.head(10)

NaNと表示されているのは数値が入力されいないという意味で,
 **欠損値**
 と呼ぶ。

In [ ]:
# 最後の 5 行を表示する
data.tail()

#データの概要を確認する


*   レコード数
*   項目数
*   各項目の属性
  * 数値型：int64, float64
  * カテゴリ型：object

> 参考：https://pandas.pydata.org/docs/user_guide/basics.html#dtypes

In [ ]:
#データの全体概要を表示
data.info()

### 基本的な統計量の表示

数値型の列に対しては、統計量として以下の数値を確認することができる。
* データ個数
* 平均
* 標準偏差
* 最小値
* 第一四分位数
* 第二四分位数
* 第三四分位数
* 最大値

また、カテゴリ型のデータに対しては、
* データ個数
* ユニーク数
* 最頻値
* 最頻値のデータ数

In [ ]:
# 数値型の変数だけが表示される
data.describe()

In [ ]:
# カテゴリ型の変数に関する情報を表示させる場合
data.describe(include='object')

In [ ]:
# 全てのカテゴリを確認する
data['職業'].unique()
# category = data['職業'].unique()
# print( category)
# print( category[2])

### 数値型の項目に対しては、平均などの統計量を算出できる。

主な関数には以下のものが使える。

関数  | 意味
--    |   --
mean()   | 平均
median() | 中央値
min()    | 最小値
max()    | 最大値
quantile(0.25)  | 四分位点、0.25 とすると小さな方から並べた場合の、25%の位置のデータとなる

In [ ]:
# 年収の平均値
data['年収'].mean()

In [ ]:
# 年収の四分位点
data['年収'].quantile(0.25)

### 単純な並べ替え

* 小さい順に並べる場合
```
sort_values()
```

* 大きい順に並べる場合
```
sort_values(ascending=False)
```

In [ ]:
data['年収'].sort_values()

In [ ]:
data['年収'].sort_values(ascending=False)

In [ ]:
# ソートし、先頭の10行を表示する場合は以下のようにする
data['年収'].sort_values(ascending=False).head(10)

表全体を対象に並べ借ることも可能。

sort_values( by = '列名' ) とする

In [ ]:
# スマホ利用時間の小さな順に並べる
data.sort_values(by = 'スマホ利用時間')

In [ ]:
# 年収で大きい順に並べる
data.sort_values(by = '年収', ascending=False)

# データクレンジング

## 欠損値の処理

### 欠損値の確認

In [ ]:
# 欠損値の個数を調べる
# data という変数に読み込む
# data = pd.read_excel(file_path)
data.isnull().sum()

### 欠損値のあるレコードを削除

```
dropna()
```
を用いると、欠損値を一つでも含むレコードを削除できる。

元の変数 data は値が変化しない。レコードが削除した状態のデータが、data_dropped にコピーされる。

In [ ]:
data_dropped = data.dropna()

In [ ]:
# 欠損値が無いことを確認する
data_dropped.isnull().sum()
# data_dropped.info()

In [ ]:
data.info()

以下のように inplace=True とすると
dataの内容が変更される。

In [ ]:
# data という変数に読み込む
data = pd.read_excel(file_path)
# print( data.isnull().sum() )
data.dropna(inplace=True)
print( data.isnull().sum() )

In [ ]:
data.info()

### 数値で置き換える場合

欠損値を置き換えるためには以下のようにする。例えば、欠測値を 0 で置き換えるのであれば、以下のようにする。

```
fillna(0, inplace=True)
```

平均値で置き換える場合は以下のようになる。

```
fillna(data['スマホ利用時間'].mean(), inplace=True)
```

In [ ]:
# もう一度ファイルからデータを読み込んで、欠損値のある状態にする。
data = pd.read_excel(file_path)

# 年収の欠損値を0で補完
data['年収'].fillna(0, inplace=True)

# スマホ利用時間の欠損値を平均値で補完
data['スマホ利用時間'].fillna(data['スマホ利用時間'].mean(), inplace=True)

data.isnull().sum()

顧客ID       0
性別         3
年齢         4
職業         1
年収         0
スマホの所有     0
スマホ利用時間    0
Aの利用回数     1
Bの利用回数     0
dtype: int64

### 列を削除する場合

In [ ]:
data = pd.read_excel(file_path)
# data.info()

# スマホ利用時間の列をすべて削除する場合
data.drop(columns=['スマホ利用時間'], inplace=True)
data.info()

## 異常値の削除

In [ ]:
# 年齢でソートする。
data.sort_values(by = '年齢', ascending=False)

レコードの削除には


```
drop([削除したいレコード番号のリスト])
```

を用いる。

In [ ]:
data.drop([2,5])

In [ ]:
# 年齢が90歳以上のレコードのインデックスを取得
indices_to_drop = data[data['年齢'] >= 90].index

# 指定したインデックスのレコードを削除
# data.drop(indices_to_drop, inplace=True)
data_dropped = data.drop(indices_to_drop)

In [ ]:
# 年齢でソートして確認する
data_dropped.sort_values(by = '年齢', ascending=False)

## 重複レコードの削除

In [ ]:
# data = pd.read_excel(file_path)
data.tail()

In [ ]:
data.drop_duplicates(inplace=True)
data.tail()

# 主なDataFrame の操作

### 行や列の限定

iloc を使い、DataFrame に格納された表の一部だけを取り出すことが可能。

基本的な使い方は、

> iloc[ 行の範囲を指定, 列の範囲を指定 ]

In [ ]:
# 0行目から2行目まで、2列目から4列目まで
data.iloc[0:3,2:5]

In [ ]:
# 0行目から2行目まで
data.iloc[0:3,:]

In [ ]:
# 1列目から最後まで
data.iloc[1:3,1:]

In [ ]:
# 1列目から最後の1つ前まで
data.iloc[1:3,:-1]

### 行番号と列番号による指定

> iloc[ 行のリスト, 列のリスト ]

In [ ]:
data.iloc[[100,1,102],[0,2,3]]

In [ ]:
# 行番号や列番号を省略すると全て選択される
data.iloc[[100,1,102],]

### 特定の行の選択

In [ ]:
# 20行目から21行目までを表示。列は全て選ばれる。
data[20:22]

In [ ]:
# 年齢が30未満の行を選択
data[ data['年齢'] < 30]

In [ ]:
# 年齢が30歳未満の顧客の年収の平均を求める
data[ data['年齢'] < 30]['年収'].mean()

In [ ]:
# 選択した部分をいったん別の変数に代入したやり方でも良い
data1 = data[ data['年齢'] < 30]
data1['年収'].mean()

In [ ]:
# 複数のAND条件も記述できる
data[ (data['年収'] >= 300) & (data['年収'] <= 600) ]

In [ ]:
data[ (data['年収'] >= 300) & (data['年収'] <= 600) ].describe()

In [ ]:
data[ data['職業']=='会社員']

In [ ]:
data[ data['職業']=='会社員'].head(3)

In [ ]:
data_renamed = data.rename(columns={'Aの利用回数': 'A回数','Bの利用回数': 'B回数'})
data_renamed.info()

# 参考サイト
- Google Colaboratory のWebページ
 - https://colab.research.google.com/


- 授業の資料保管場所
 - https://github.com/yajima-yasutoshi/DataMinig/tree/main/20231011


---
---