<a href="https://colab.research.google.com/github/yajima-yasutoshi/DataMinig/blob/main/20231018/%E5%9F%BA%E7%A4%8E%E9%9B%86%E8%A8%882.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# データマイニング第4回（2023/10/18）

#データ分析の流れ

データ分析の基本的なステップ
1. 目的設定
1. データ収集
1. データの前処理
1. データ探索
1. モデル構築
1. レポート

# 本日の講義の資料

以下のサイトに保存してある。

https://github.com/yajima-yasutoshi/DataMinig/tree/main/20231018

#準備
データ分析に必要なPythonライブラリー（モジュール）のインストールと読み込みを施します。


*   numpy：数値計算
*   pandas：主にデータ加工
*   matplotlib：グラフを作成
*   japanize_matplotlib：日本語を表示
*   seaborn：グラフ作成

In [ ]:
!pip install japanize-matplotlib

In [2]:
import numpy as np
import pandas as pd
# from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import japanize_matplotlib
import seaborn as sns

# 前回説明した部分

### ドライブのマウント
1. Colabにて、左端のフォルダーのアイコンをクリックし、ファイルメニューを開く。

1. マウントアイコンをクリックし Google Driveをマウントする。

1. drive の中の「MyDrive」が Google Drive のマイドライブとなる。

### ファイルのGoogle Drive へのアップロード
1. Google Drive で適当なフォルダーを作成
2. PCのファイルをドラッグ＆ドロップでアップロードする。  
あるいは、Google Driveで右クリックでメニューを開き、ファイルのアップロードを選択してもアップロードが可能である。

### Colabで操作
1. Driveメニューで目的のファイルにマウスを合わせ、ファイル名の右にある縦3つの「・」部分をクリックして「パスをコピー」を選択する。

1. 以下のPythonコードの 3行目を先ほどコピーしたパスに変更する。ctrl+v でペーストされる。

# データをファイルから読み込む

## 本日の講義で使うデータの説明

データの定義 (各列の説明)


列名 | 型 | 説明
--   | -- | --
顧客ID | 数値（整数） |
性別	 | カテゴリ型 |
年齢	 | 数値（整数）|
職業	 | カテゴリ型|
年収	 | 数値（整数）|
スマホの所有	| カテゴリ型 |
スマホ利用時間	| 数値（実数）| 1日の平均使用時間
Aの利用回数	|  数値（整数）|
Bの利用回数 |  数値（整数） |

## データのダウンロード

以下のサイト  

https://github.com/yajima-yasutoshi/DataMinig/tree/main/20231011

にアクセスし、エクセルファイル（customer_data.xlsx）をPCにダウンロードする。

## 環境の準備（先週の講義で説明した部分）


### ドライブのマウント
1. Colabにて、左端のフォルダーのアイコンをクリックし、ファイルメニューを開く。

1. マウントアイコンをクリックし Google Driveをマウントする。

1. drive の中の「MyDrive」が Google Drive のマイドライブとなる。

### ファイルのGoogle Drive へのアップロード
1. Google Drive で適当なフォルダーを作成
2. PCのファイルをドラッグ＆ドロップでアップロードする。  
あるいは、Google Driveで右クリックでメニューを開き、ファイルのアップロードを選択してもアップロードが可能である。

### Colabで操作
1. Driveメニューで目的のファイルにマウスを合わせ、ファイル名の右にある縦3つの「・」部分をクリックして「パスをコピー」を選択する。

1. コードセルの中での ctrl+v でファイルパスがペーストされる。

## ファイルを読み込むための Pythonプログラム

エクセルファイルをPython環境に読み込むためにPandasの
read_excel()というメソッドを使う

In [3]:
# 読み込むファイルを指定する
file_path = '/content/drive/MyDrive/周南公立大学/講義/データマイニング/データ/customer_data.xlsx'

# data という変数に読み込む
data = pd.read_excel(file_path)

## 行数と列数表示

In [ ]:
print( data.shape )

# データを表示
変数に読み込んデータの内容を表示させる

In [ ]:
# データの最初の10行を表示する
data.head(10)

NaNと表示されているのは数値が入力されいないという意味で,
 **欠損値**
 と呼ぶ。

In [ ]:
# 最後の 5 行を表示する
data.tail()

#データの概要を確認する


*   レコード数
*   カラム（項目）数
*   各カラムの属性

In [ ]:
#データの全体概要を表示
data.info()

### 基本的な統計量の表示

数値型の列に対しては、統計量として以下の数値を確認することができる。
* データ個数
* 平均
* 標準偏差
* 最小値
* 第一四分位数
* 第二四分位数
* 第三四分位数
* 最大値

また、カテゴリ型のデータに対しては、
* データ個数
* ユニーク数
* 最頻値
* 最頻値のデータ数

In [ ]:
# 数値型の変数だけが表示される
data.describe()

In [ ]:
# カテゴリ型
data.describe(include='object')

# データクレンジング

## 欠損値の処理

In [ ]:
# 欠損値の個数を調べる
# data という変数に読み込む
# data = pd.read_excel(file_path)
data.isnull().sum()

### 欠損値のあるレコードを削除

In [ ]:
data_dropped = data.dropna()

#data.dropna(inplace=True)

print(data_dropped.isnull().sum())
data_dropped.info()

変数 data は値が変化しない（元の状態）

In [ ]:
data.info()

In [ ]:
# Or drop them entirely (use sparingly)

# data という変数に読み込む
data = pd.read_excel(file_path)
# print( data.isnull().sum() )
data.dropna(inplace=True)
print( data.isnull().sum() )

In [ ]:
data.info()

### 数値で置き換える場合

In [15]:
# data = pd.read_excel(file_path)
# スマホ利用時間の欠損値を平均値で補完
data['スマホ利用時間'].fillna(data['スマホ利用時間'].mean(), inplace=True)

# 年収の欠損値を0で補完
data['年収'].fillna(0, inplace=True)

## 異常値の削除

In [ ]:
# 年齢が90歳以上のレコードのインデックスを取得
indices_to_drop = data[data['年齢'] >= 90].index

# 指定したインデックスのレコードを削除
# data.drop(indices_to_drop, inplace=True)
data_dropped = data.drop(indices_to_drop)
data_dropped.info()

## 重複レコードの削除

In [ ]:
# data = pd.read_excel(file_path)
data.tail()

In [ ]:
data.drop_duplicates(inplace=True)
data.tail()

# 基礎集計

## 並べ替え（ソート）

In [ ]:
# 年齢の小さい順に並べる
# 並べ替えの対象となる列名を指定する。
# シングルクオーテーション(')が必要。
data.sort_values('年齢')

In [ ]:
# 大きい順に並べる場合は、ascending=False を追加する。
data.sort_values('年齢', ascending=False)

In [ ]:
# by = '列名' としてもよい
data.sort_values(by = '年齢', ascending=False)

In [ ]:
# 並べ替え、先頭の10行を表示する場合
data.sort_values('年齢', ascending=False).head(10)

In [ ]:
# 2つのソートを行う場合。
# まず、年齢で並べ、同じ年齢の場合は、顧客IDで並べる場合。
data.sort_values(['年齢','顧客ID'],).head(10)

In [ ]:
# 2つのソートを行う場合。
# まず、年齢で並べ、同じ年齢の場合は、顧客IDで並べる場合。
# 年齢は大きなものから、顧客IDは小さなものとする場合は。
data.sort_values(['年齢','顧客ID'], ascending=[False, True]).head(10)

##カウント

In [25]:
# 再度データを変数 data に読み込む
data = pd.read_excel(file_path)

In [ ]:
# カテゴリ型の項目に対して、値の種類を調べる
data['職業'].unique()

In [ ]:
# 値毎のレコード件数を表示させる。
# 欠損値が含まれないので注意
data['職業'].value_counts()

# 他の列も確認する場合
# print() は無でもOK
# print( data['性別'].value_counts())
# print( data['スマホの所有'].value_counts())

In [ ]:
# 欠損値も含める場合
data['職業'].value_counts(dropna=False)

In [ ]:
data['職業'].value_counts(dropna=False).sort_values(ascending=False)
# data['職業'].value_counts().sort_values()
# data['職業'].value_counts().sort_values(ascending=False).head()

## 集計

### 基本的な統計量の算出

In [ ]:
# 特定の列の平均
m = data['スマホ利用時間'].mean()
print(m)

data['スマホ利用時間'].mean() の mean()の部分は以下の関数に変更ができる

関数 | 意味
--   | --
mean() | 平均
median() | 中央値
min() | 最小値
max()	| 最大値
nunique() | カテゴリ型の値の個数
quantile(0.25) | 第一四分位（25%）
quantile(0.75) | 第三四分位（75%）

In [ ]:
data['職業'].nunique()

In [ ]:
data['年収'].median()

In [ ]:
data['年収'].quantile(0.25)

### カテゴリ変数に対する操作

In [ ]:
# 種類毎にレコード数を確認する方法
data['職業'].value_counts()
# 欠損値含めてカウントする場合
#data['職業'].value_counts(dropna=False)

### 最頻値
カテゴリ型のデータでもっとも多く出現しているものを**最頻値**と呼ぶ。
職業であれば「その他」が最頻値となる。

In [ ]:
data['職業'].mode()

In [ ]:
result =  data['性別'].mode()
result[0]

# 以下のようにしても良い
# data['性別'].mode() [0]

In [ ]:
# 最頻値が複数ある場合の例
# サンプルデータを作成
df = pd.DataFrame({
    'A': ['a', 'b', 'b', 'c', 'd', 'c']
})
df.head(6)

上のデータでは、最頻値が2つあり b, c 両方が最頻値である。
このような場合は、最頻値が２つ表示される

In [ ]:
# mode を計算
result = df['A'].mode()
print(result)

# len(result)
# print( result[0] )
# print( result[1])

### 複雑な集計

分類して集計することができる。

例えば、性別で分類して年齢の平均を求める、といったことが可能である。


以下の3項目を指定する必要がある。

*   分類項目：カテゴリ属性から選択する
*   集計項目：数値属性
*   集計方法：集計方法には、平均、中央値、最小、最大が使える。

例えば、性別で分類して年齢を平均する場合には、

*   分類項目 → 性別
*   集計項目 → 年齢
*   集計方法 → 平均

とする。

In [ ]:
# 性別で分類して年齢の平均を求める。
data.groupby('性別')['年齢'].mean()

In [ ]:
# 集計の結果を別のデータフレーム（変数名は new_data ）にする場合は、reset_index() を最後に着ける
new_data = data.groupby('性別')['年齢'].mean().reset_index()
new_data

In [ ]:
# 列名を変更したいのであれば、以下のように行う
a.rename(columns={'年齢': '平均年齢'})

In [ ]:
selected_data = data[['性別', '年齢', '年収', 'Aの利用回数', 'Bの利用回数']]

# 性別ごとに全ての項目の平均を計算することも可能
selected_data.groupby('性別').mean()

In [ ]:
selected_data = data[['性別', '職業', '年齢', '年収', 'Aの利用回数', 'Bの利用回数']]
selected_data.groupby('性別').median()
# 職業の項目は数値型ではないので、メッセージが表示される。

2つ以上の属性を組み合わせて集計することもできる

In [ ]:
data.groupby(['性別','職業']).mean()

集計方法も複数指定が可能である。最小値、最大値、平均を計算する方法は以下の通り

In [ ]:
df = data.groupby(['性別','職業'])['年齢'].agg(['min', 'max', 'mean']).reset_index()
df

列名を変更すして、分かり易いデータフレームとする

In [ ]:
ddf = df.rename(columns={'min': '平均最小', 'max':'年齢最大', 'mean':'年齢平均'})
ddf

---
---

---
---

# ヒストグラムの表示

In [ ]:
import matplotlib.pyplot as plt
import japanize_matplotlib
import seaborn as sns

data = pd.read_excel(file_path)
# 年齢のデータを取得
ages = data['年齢']

# ヒストグラムを描画
sns.histplot(ages, bins=20, kde=False)
plt.title('年齢の分布')
plt.xlabel('年齢')
plt.ylabel('人数')
plt.show()

In [47]:
# 年齢が80歳以上のレコードのインデックスを取得
indices_to_drop = data[data['年齢'] >= 80].index

# 指定したインデックスのレコードを削除
data.drop(indices_to_drop, inplace=True)

In [ ]:
# 年齢のデータを取得
ages = data['年齢']

# ヒストグラムを描画
sns.histplot(ages, bins=20, kde=False)
plt.title('年齢の分布')
plt.xlabel('年齢')
plt.ylabel('人数')
plt.show()

# 散布図の表示

In [ ]:
# Plot scatter plot for Age vs Income using seaborn
sns.scatterplot(data=data, x='年齢', y='年収', hue='性別', palette={'男性': 'blue', '女性': 'red'})
plt.title('Scatter Plot of Age vs Income')
plt.show()

# 散布図行列表示

In [ ]:

# Let's bring in the scripting interface
import matplotlib.pyplot as plt
import japanize_matplotlib
import seaborn as sns
# sns.set(font='IPAexGothic')

# sns.pairplot( data )
# sns.pairplot( data.iloc[:,0:7] )
sns.pairplot( data.iloc[:,0:7], hue='性別', palette={'男性': 'blue', '女性': 'red'})
plt.show()

# その他

In [51]:
from sklearn.datasets import load_breast_cancer
breast_cancer = load_breast_cancer()

breast_cancer_data = pd.DataFrame(breast_cancer.data, columns=breast_cancer.feature_names)
Y = pd.Series(breast_cancer.target)
breast_cancer_data['target'] = Y