<a href="https://colab.research.google.com/github/yajima-yasutoshi/DataMinig/blob/main/20231101/%E5%9F%BA%E7%A4%8E%E9%9B%86%E8%A8%88%E3%81%A8%E5%8F%AF%E8%A6%96%E5%8C%96%E3%81%AE%E6%BC%94%E7%BF%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# データマイニング第6回（2023/11/1）

#本日の講義の目的

前回までの講義内容を復習し、基礎集計と可視化を実施してみる

## 準備

In [ ]:
!pip install japanize-matplotlib

In [ ]:
# 必要なライブラリのインポート
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import japanize_matplotlib
import seaborn as sns



---



---

# Booksデータベース

## データの読み込み

* データのダウンロード

    以下のアドレスより、book.csv をPCにダウンロードする。

    https://github.com/yajima-yasutoshi/DataMinig/tree/main/20231101

* データ（ books.csv ）を Google Drive の適当なフォルダーにアップロード

* Google Colab で、Google Drive のマウントを実施

* csv 形式のファイルは read_scv() で読み込みができる

In [ ]:
# データフレームへの読み込み
# 変数 file_name には各自の環境に合わせてパスを設定する
file_name = '/content/drive/MyDrive/周南公立大学/講義/データマイニング/データ/books.csv'

# 一部に読み込めないレコードがあるので、error_bad_lines=False を指定している
df = pd.read_csv(file_name, error_bad_lines=False)
df.rename(columns={'  num_pages': 'num_pages'}, inplace=True)

## データの確認

In [ ]:
df.shape

In [ ]:
df.info()

Booksデータベースには、世界各国で出版された約一万冊の書籍に関する情報が格納されている。記録されている項目は、以下の通りである。

項目                  | 説明
--                      | --
 bookID             |  本のID番号
 title              |  本のタイトル
 authors            |  本の著者
 average_rating     |  平均評価
 isbn               |  ISBN番号
 isbn13             |  ISBN番号
 language_code      |  言語
 num_pages          |  ページ数
 ratings_count      |  評価の数
 text_reviews_count |  レビュー文章が記載された数
 publication_date   |  出版日  
 publisher          |  出版社

In [ ]:
df.head()


---
---

# Titanic データの説明

1912年に起きたTitanic号の沈没事故に関するデータを使い、今までの講義内容を復習する。

今回利用するデータは seaborn パッケージに含まれているサンプルデータである。

In [ ]:
# データの読み込み
df = sns.load_dataset('titanic')
df.info()


今回利用するデータの概要は以下の通り。

項目 | 説明
-- | --
survived | 生存したかどうか（0 = No, 1 = Yes）
pclass   | 乗客のクラス（1 = 1st, 2 = 2nd, 3 = 3rd）
sex      | 性別（male, female）
age      | 年齢
sibsp  | タイタニック号に乗っていた兄弟姉妹/配偶者の数
parch | タイタニック号に乗っていた親/子供の数
fare | 乗船料金
embarked |  乗船した港（C = Cherbourg, Q = Queenstown, S = Southampton）
class | 乗客のクラスを文字列で（'First', 'Second', 'Third'）
who | 乗客のタイプ（'man', 'woman', 'child'）
adult_male |  成人男性かどうか（True, False）
deck |  乗客がいたデッキ（A, B, C, D, E, F, G, NaN）
embark_town |  乗船した町の名前（'Southampton', 'Cherbourg', 'Queenstown', NaN）
alive |  生存したかどうかを文字列で入力（'yes', 'no'）
alone | 一人で乗船したかどうか（True, False）

なお、欠損値: age、embarked などの特定の列に欠損値が存在する。