<a href="https://colab.research.google.com/github/yajima-yasutoshi/DataMinig/blob/main/20231101/%E5%9F%BA%E7%A4%8E%E9%9B%86%E8%A8%88%E3%81%A8%E5%8F%AF%E8%A6%96%E5%8C%96%E3%81%AE%E5%AE%9F%E8%B7%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# データマイニング第6回（2023/11/1）

#本日の講義の目的

前回までの講義内容を復習し、基礎集計と可視化を実施してみる

## 準備

In [ ]:
!pip install japanize-matplotlib

In [ ]:
# 必要なライブラリのインポート
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import japanize_matplotlib
import seaborn as sns



---



---

# Booksデータベース

## データの読み込み
* データをダウンロード

    以下のアドレスより、book.csv をPCにダウンロードする。

    https://github.com/yajima-yasutoshi/DataMinig/tree/main/20231101

* Google Drive のマウントの確認

* データ（ books.csv ）を Google Drive の適当なフォルダーにアップロード

In [ ]:
# データフレームへの読み込み
file_name = '/content/drive/MyDrive/周南公立大学/講義/データマイニング/データ/books.csv'
# 一部に読み込めないレコードがあるので、error_bad_lines=False を指定している
df = pd.read_csv(file_name, error_bad_lines=False)
df.rename(columns={'  num_pages': 'num_pages'}, inplace=True)

## データの確認

In [ ]:
df.shape

(11123, 12)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11123 entries, 0 to 11122
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11123 non-null  int64
 1   title               11123 non-null  object
 2   authors             11123 non-null  object
 3   average_rating      11123 non-null  float64
 4   isbn                11123 non-null  object
 5   isbn13              11123 non-null  int64
 6   language_code       11123 non-null  object
 7   num_pages           11123 non-null  int64
 8   ratings_count       11123 non-null  int64
 9   text_reviews_count  11123 non-null  int64
 10  publication_date    11123 non-null  object
 11  publisher           11123 non-null  object
dtypes: float64(1), int64(5), object(6)
memory usage: 1.0+ MB

データの説明

特徴量                  | 説明
--                      | --
 bookID             |  本のID番号
 title              |  本のタイトル
 authors            |  本の著者
 average_rating     |  平均評価
 isbn               |  ISBN番号
 isbn13             |  ISBN番号
 language_code      |  言語
 num_pages          |  ページ数
 ratings_count      |  評価の数
 text_reviews_count |  レビュー文章が記載された数
 publication_date   |  出版日  
 publisher          |  出版社


---
---

# Titanic データの説明

1912年に起きたTitanic号の沈没事故に関するデータを使い、今までの講義内容を復習する。

今回利用するデータは seaborn パッケージに含まれているサンプルデータである。

In [ ]:
# データの読み込み
df = sns.load_dataset('titanic')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB


今回利用するデータの概要は以下の通り。

項目 | 説明
-- | --
survived | 生存したかどうか（0 = No, 1 = Yes）
pclass   | 乗客のクラス（1 = 1st, 2 = 2nd, 3 = 3rd）
sex      | 性別（male, female）
age      | 年齢
sibsp  | タイタニック号に乗っていた兄弟姉妹/配偶者の数
parch | タイタニック号に乗っていた親/子供の数
fare | 乗船料金
embarked |  乗船した港（C = Cherbourg, Q = Queenstown, S = Southampton）
class | 乗客のクラスを文字列で（'First', 'Second', 'Third'）
who | 乗客のタイプ（'man', 'woman', 'child'）
adult_male |  成人男性かどうか（True, False）
deck |  乗客がいたデッキ（A, B, C, D, E, F, G, NaN）
embark_town |  乗船した町の名前（'Southampton', 'Cherbourg', 'Queenstown', NaN）
alive |  生存したかどうかを文字列で入力（'yes', 'no'）
alone | 一人で乗船したかどうか（True, False）

なお、欠損値: age、embarked などの特定の列に欠損値が存在する。